* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 120px;
    margin: 0 8.5%;
}

.nav-links {
    height: 100%;
    display: flex;
    align-items: center;
    position: static;
    width: auto;
    background: none;
}

.nav-links a {
    display: inline-block;
    padding: 15px 17px;
}

.nav-contact {
    text-align: right;
    margin-left: 2.5%;
}

.nav-contact>p {
    color: #0095E0;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
    margin: 0 1px;
}

.nav-contact>p>b{
    color: #259DDA;
    font-size: 20px;
    font-weight: 500;
}

.dropdown-btn, .dropdown-item {
    display: block;
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.dropdown-btn {
    position: relative;
    z-index: 3;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #0D7EE1;
    color: #ffffff;
}

.dropdown-container {
    position: relative;
}

.dropdown-container>ul>li {
    transition: all .5s ease;
}

.dropdown-item {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
}

ul {
    z-index: 2;
    padding: 0;
    background: white;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all .5s ease;
    width: auto;
    min-width: 100%;
    list-style: none;
    display: block;
}

/* .dropdown-container:hover ul {
    height: 600%;
    opacity: 1;
    transform: translateY(0);
} */

ul a {
    color: #000;
    display: block;
    padding: 5px 20px;
}