.footer-top {
    background-color: #1D438A;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 71px 53px 32px;
    align-items: flex-start;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
}

.footer-bottom {
    background-color: #0D7EE1;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-optical-sizing: auto;
    padding: 32px 53px;
    display: flex;
    justify-content: space-between;
}

.footer-columns-container {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 67px;
}

.footer-column>a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    &:hover {
        text-decoration: underline;
    }
}

.footer-link {
    margin: .5em 0;
    font-weight: 300;
}

.footer-title-link {    
    margin: 0 0 1em 0;
    font-weight: 600;
}

.slogan {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-optical-sizing: auto;
    max-width: 160px;
}

#pptc {
    display: flex;
    justify-content: space-between;
}
#pptc>a {
    margin-left: 53px;
    color: white;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}