html {
    background-color: #f1f5f9;
    font-family: sans-serif;
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 65px;
    height: 149px;
    min-width: 100%;
}

.elmo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.elmo a {
    margin-left: 8px;
    padding: 8px;
    color: #0D7EE1;
    font-size: 24px;
    text-decoration: none;
}

.elmo a b {
    font-weight: 600;
}

.nav-links {
    position: relative;
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

/* .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    transition: 700ms;
    background-color: #0D7EE1;
    opacity: 75%;
} */

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: -1em;
        height: 100%;
        display: flex;
        align-items: center;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 14px;
    }

    .hamburger {
        display: none;
    }
}

.cover {
    display: block;
    position: relative;
}


#izmeron_title {
    position: absolute;
    top: 8%;
    bottom: 52.5%;
    grid-column: 1;
    grid-row: 1;
    color: white;
    z-index: 1;
    background-color: #0D7EE1;
    left: 0%;
    right: 52.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#izmeron_title a {
    font-weight: 400;
    font-size: 20px;
    padding-left: 12.5%;
}

#izmeron_title b {
    font-weight: 500;
    font-size: 48px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 113px;
}

#about a {
    text-align: center;
    max-width: 775px;
    font-size: 16px;
}

#logos {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    min-width: 1103px;
}

#logos img {
    align-self: center;
    object-fit: contain;
}