html {
    background-color: #f1f5f9;
    font-family: sans-serif;
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

button {
    font-family: 'Montserrat', sans-serif;
}

.elmo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.elmo p {
    margin: 0;
    color: #5E5E5E;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.vertical-line {
    width: 1px;
    height: 68px;
    background-color: #5E5E5E;
    margin: 0 19px;
}

/* .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    transition: 700ms;
    background-color: #0D7EE1;
    opacity: 75%;
} */

/* .expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: -1em;
        height: 100%;
        display: flex;
        align-items: center;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 14px;
    }

    .hamburger {
        display: none;
    }
} */

.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 600px;
    overflow: hidden;
}

.title1 {
    font-size: 16px;
    font-weight: 500;
}

.title2 {
    font-size: 14px;
    font-weight: 500;
}

.headline1 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
}

.headline2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
}

.body1 {
    font-size: 16px;
    font-weight: 400;
}

.body2 {
    font-size: 14px;
    font-weight: 400;
}

.subbody2 {
    font-size: 12px;
    font-weight: 400;
}

.menu {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.division {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.about {
    min-height: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}

.about p {
    text-align: center;
    margin: 8px 0;
    max-width: 830px;
}

#partners {
    justify-content: flex-start;
    padding-top: 96px;
    min-height: 300px;
}

#project_carousel {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-all-btn {
    width: auto;
    align-self: center;
    background-color: #0D7EE1;
    border: none;
    padding: 8px 16px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
        filter: brightness(85%);
    }
}

#show_all_objects {
    margin-top: 42px;
    text-transform: uppercase;
    font-size: 16px;
}

#made_on {
    background-color: #EFEFEF;
    padding-left: max(calc(50% - 588px), 20px);
    padding-top: 24px;
    &>p {
        margin: 0;
    }
}

.gallery-section-title {
    min-height: 100px;
}

#gallery-section_0 {
    min-height: 220px;
}