html {
    background-color: #f1f5f9;
    font-family: sans-serif;
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

button {
    font-family: 'Montserrat', sans-serif;
}

.elmo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.elmo p {
    margin: 0;
    color: #5E5E5E;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.vertical-line {
    width: 1px;
    height: 68px;
    background-color: #5E5E5E;
    margin: 0 19px;
}

/* .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    transition: 700ms;
    background-color: #0D7EE1;
    opacity: 75%;
} */

/* .expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: -1em;
        height: 100%;
        display: flex;
        align-items: center;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 14px;
    }

    .hamburger {
        display: none;
    }
} */

.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 600px;
}


.carousel-banner {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    grid-column: 1;
    grid-row: 1;
    width: 47.5%;
    padding: 52px 4% 52px 8.5%;
    color: white;
    z-index: 1;
    background-color: #0D7EE1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.carousel-banner>p {
    margin: 4px 0;
    max-width: 420px;
}

.carousel-banner>.subbody2 {
    margin-bottom: 12px;
}

.title1 {
    font-size: 16px;
    font-weight: 500;
}

.title2 {
    font-size: 14px;
    font-weight: 500;
}

.headline1 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
}

.headline2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
}

.body1 {
    font-size: 16px;
    font-weight: 400;
}

.body2 {
    font-size: 14px;
    font-weight: 400;
}

.subbody2 {
    font-size: 12px;
    font-weight: 400;
}

.menu {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.about {
    margin: 74px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about p {
    text-align: center;
    max-width: 60%;
    margin: 8px 0;
}

#about_home {
    margin: 74px 0;
}

#about_home_2>p {
    max-width: 55%;
}

#projects {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-all-btn {
    width: auto;
    align-self: center;
    background-color: #0D7EE1;
    border: none;
    padding: 8px 16px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
        filter: brightness(85%);
    }
}

#show_all_objects {
    margin-top: 42px;
    text-transform: uppercase;
    font-size: 16px;
}