.map {
    margin-top: 80px;
    position: relative;
    display: flex;
}

.contact-info-banner {
    position: absolute;
    width: 454px;
    height: 286px;
    z-index: 1;
    top: 15%;
    background-color: #0D7EE1;
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;
    flex-direction: column;
}

.contact-info-line {
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.contact-info-line>div>p {
    margin: .5em 24px;
    color: white;
    font-size: 16px;
    max-width: 325px;
    font-weight: 300;
}